header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 1em 10em;
}

header button {
  padding: 1em 2em;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  background: none;
}

header button:hover {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  background: #297ac5;
}

main {
  min-height: 60vh;
  margin: 1em;
}

/* Intro */
.intro {
  display: flex;
  justify-content: space-between;
  padding: 1em 8em;
  align-items: center;
}

.descIntro h3 {
  color: #fff;
  font-size: 2em;
}

.descIntro p {
  color: #fff;
  font-size: 1.3em;
  width: 80%;
}

/* Input de Pesquisa */
.search-container form {
  display: flex;
  align-items: center;
  margin: 1em 0em;
}

#search {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 80%;
}

.search-button {
  padding: 10px;
  background: none;
  border: 1px solid #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  color: white;
}

.search-button i {
  font-size: 16px;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Vacancy | Vagas */
.vacancy {
  border: 1px solid #fff;
}

.showVacancy {
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  min-height: 50vh;
}

.headVacancy {
  display: flex;
  justify-content: space-between;
  padding: 1em 8em;
}

.createVacancy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.category h5 {
  color: #fff;
  font-size: 1.3em;
}

.category select {
  padding: 0.7em;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: none;
  color: white;
  text-align: center;
}

.category select option {
  background-color: white;
  color: var(--color-main);
  font-weight: bold;
}

/* Modal de vagas */
.btn {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 10px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  color: var(--color-main);
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--color-main);
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;

  font-size: 1.2em;
}

.form-group input[type="number"]::-webkit-outer-spin-button,
.form-group input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-createVacancy {
  background-color: var(--color-main-dark);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.3em;
}

#div-erro {
  background: var(--color-error-dark);
  text-align: center;
  width: 15em;
  margin: 0 auto;
  border-radius: 5px;
  color: #fff;
}

/* Exibição das vagas */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
  padding: 1em;
}

.card {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 1px solid #fff;
  border-radius: 5px;
  color: var(--color-main-dark);
  display: flex;
  align-items: center;
}

.no-data {
  padding: 20px;
  text-align: center;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
}

.card-content {
  background: #f3f3f3;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.card-content h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-details {
  margin: 0 auto;
  padding: 30px 20px;
  border-radius: 5px;
  color: #fff;
}

.btn-details:hover {
  opacity: 0.7;
  transition: 1.5s;
}

.btn-details i {
  font-size: 2em;
}

.logout:hover {
  background-color: #dc3545;
}