.container {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.container h2 {
  font-family: "torus-regular" !important;
  text-align: center;
  color: #fff;
}

.form-group label {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
  margin: 0.5em 0 0.5em 0;
  color: #fff;
}

.form-group input {
  width: 30em;
  padding: 1em;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 1em;
  margin-top: 1em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #fff;
  color: #007bff;
}

/* Estilos das validações*/
.message-error {
  visibility: hidden;
  background-color: #da525d;
  color: whitesmoke;
  width: 50vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.link-registro {
  padding: 30px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  font-size: 16px;
  font-weight: 900;
}

#main-content {
  display: none;
}
