body{
    background: #297ac5;
    margin-top:20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
}
.me-2 {
    margin-right: .5rem!important;
}

header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 1em 10em;
    background-color: #145da0;
}
  
header button {
    padding: 1em 2em;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    background: #145da0;
}

header button:hover {
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    background: #dc3545;
}

.label-card {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.add-institution {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: #fff;
    background-color: #145da0	;
}

.span-required, .name-valid, .select-school-valid, 
.span-required-Inst, .span-completionDate,
.description-valid, .hours-valid, .span-interview {
    display: none;
    color: #e63636;
}

.card-application {
    padding: 10px; 
    margin: 30px;
}

.card-title {
    display: flex;
}

.name-organization {
    font-size: 25px;
    gap: 15px;
}

.empty-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.no-data {
    padding: 15px;
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    width: 100vh;
}

.card-item {
    margin-left: 15%;
    margin-right: 15%;
}

.vacancyDetails {
    color: aliceblue;
    padding-bottom: 1%;
}

.perfil-link {
    color: aliceblue;
    text-decoration: none;
    padding-right: 10px;
    cursor: pointer;
}