.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 2em;
}

.container h2 {
  font-family: "torus-regular" !important;
  text-align: center;
  color: #fff;
}

.form-group {
  margin-bottom: 2em;
}

.form-group label {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
  margin: 0.5em 0 0.5em 0;
  color: #fff;
}

.form-group input {
  width: 30em;
  padding: 1em;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 1em;
  margin-top: 1em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #fff;
  color: #007bff;
}

/* Estilos das validações*/
.message-error {
  font-family: "Lucida Sans Regular", sans-serif;
  visibility: hidden;
  background-color: #da525d;
  color: whitesmoke;
  max-width: 35vw;
  min-height: 30vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.link-registro {
  padding: 30px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}

li {
  display: flex;
  font-size: 12px;
  font-weight: 900;
}

#main-content {
  display: none;
}

/* Nova exibição de erros */
#formErrors {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
  width: 30em;

  background-color: var(--color-error-dark);
  margin: 1em;
  border-radius: 5px;
  text-align: center;
  list-style: disc !important;
}

#formErrors ul {
  font-size: 1.3em;
  display: flex;
  width: 100%;
  padding: 0.5em 0em;
}

#formErrors li {
  font-size: 0.9em;
}

.span-required {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: none;
  color: #8B0000;
}