@font-face {
  font-family: "torus-bold";
  src: url("../fonts/toruspro-bold.otf") format("truetype");
}

@font-face {
  font-family: "torus-light";
  src: url("../fonts/toruspro-light.otf") format("truetype");
}

@font-face {
  font-family: "torus-regular";
  src: url("../fonts/toruspro-regular.otf") format("truetype");
}

@font-face {
  font-family: "torus-semibold";
  src: url("../fonts/toruspro-semibold.otf") format("truetype");
}

@font-face {
  font-family: "torus-thin";
  src: url("../fonts/toruspro-thin.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "torus-regular";
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #145da0;
  padding: 0em 2em;
}

nav p {
  font-family: "torus-regular";
  color: #fff;
  width: 50%;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #145da0;
  color: white;
  text-align: center;
  user-select: none;
}

footer p {
  padding: 2.5em;
}
