@font-face {
  font-family: "torus-bold";
  src: url("../fonts/toruspro-bold.otf") format("truetype");
}

@font-face {
  font-family: "torus-light";
  src: url("../fonts/toruspro-light.otf") format("truetype");
}

@font-face {
  font-family: "torus-regular";
  src: url("../fonts/toruspro-regular.otf") format("truetype");
}

@font-face {
  font-family: "torus-semibold";
  src: url("../fonts/toruspro-semibold.otf") format("truetype");
}

@font-face {
  font-family: "torus-thin";
  src: url("../fonts/toruspro-thin.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-main: #145da0;
  --color-main-dark: #0056b3;

  --color-dark-text: #263c50;
  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-alert-dark: #927f40;
  --color-warning-dark: #927f40;
  --color-error-dark: #da525d;
}

body {
  font-family: "torus-regular";
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--color-main);
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main);
  padding: 0em 2em;
}

nav p {
  font-family: "torus-regular";
  color: #fff;
  width: 50%;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-main);
  color: white;
  text-align: center;
  user-select: none;
}

footer p {
  padding: 2.5em;
}
